<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Music Genres Identification</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Music Genres Identification " name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        <style type="text/css">
            @keyframes lds-flickr-opacity {
              0% {
                -webkit-transform: translate(0 0);
                transform: translate(0 0);
                opacity: 1;
              }
              49.99% {
                opacity: 1;
                -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
              }
              50% {
                opacity: 0;
                -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
              }
              100% {
                opacity: 0;
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
              }
            }
            @-webkit-keyframes lds-flickr-opacity {
              0% {
                -webkit-transform: translate(0 0);
                transform: translate(0 0);
                opacity: 1;
              }
              49.99% {
                opacity: 1;
                -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
              }
              50% {
                opacity: 0;
                -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
              }
              100% {
                opacity: 0;
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
              }
            }
            @keyframes lds-flickr {
              0% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
              }
              50% {
                -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
              }
              100% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
              }
            }
            @-webkit-keyframes lds-flickr {
              0% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
              }
              50% {
                -webkit-transform: translate(80px, 0);
                transform: translate(80px, 0);
              }
              100% {
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
              }
            }
            .lds-flickr {
              position: relative;
            }
            .lds-flickr div {
              position: absolute;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              top: 60px;
              left: 20px;
            }
            .lds-flickr div:nth-child(1) {
              background: #93dbe9;
              -webkit-animation: lds-flickr 1s linear infinite;
              animation: lds-flickr 1s linear infinite;
              -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s;
            }
            .lds-flickr div:nth-child(2) {
              background: #689cc5;
              -webkit-animation: lds-flickr 1s linear infinite;
              animation: lds-flickr 1s linear infinite;
              -webkit-animation-delay: 0s;
              animation-delay: 0s;
            }
            .lds-flickr div:nth-child(3) {
              background: #93dbe9;
              -webkit-animation: lds-flickr-opacity 1s linear infinite;
              animation: lds-flickr-opacity 1s linear infinite;
              -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s;
            }
            .lds-flickr {
              width: 200px !important;
              height: 200px !important;
              -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
              transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            }
        </style>
    </head>
    <!-- END HEAD -->
    <body class=" login">
        <!-- BEGIN : LOGIN PAGE 5-1 -->
        <div class="user-login-5">
            <div class="row bs-reset">
                <div class="col-md-6 bs-reset mt-login-5-bsfix">
                    <div class="login-bg" style="background-image:url(assets/pages/img/login/bg1.jpg)">
                        <img class="login-logo" src="assets/pages/img/login/logo.png" /> </div>
                </div>
                <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                    <div class="login-content">
                        <div class="lds-css" id="loading_ajax"><div style="width:100%;height:100%" class="lds-flickr"><div></div><div></div><div></div></div></div>
                        <h1>Music Genres Identification</h1>
                        <p>Don't know what your song's genres is? Let me help you!! </p>
                        <div class="login-form">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span>Please upload file first.</span>
                            </div>
                             <div class="alert alert-success" id="result">
                                <button class="close" data-close="alert"></button>
                                <span></span>
                            </div>
                            <div class="alert alert-danger" id="error">
                                <button class="close" data-close="alert"></button>
                                <span></span>
                            </div>
                            <div class="alert alert-info display-hide">
                                <button class="close" data-close="alert"></button>
                                <span id="result"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input class="form-control form-group" style="border-bottom: #ffffff" type="file" id="musicfile" name="musicfile" required/> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-4 col-sm-8 text-right">
                                    <button class="btn green" id="uploadFile">Show me</button>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                    <div class="login-footer">
                        <div class="row bs-reset">
                            <div class="col-xs-5 bs-reset">
                                <ul class="login-social">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-7 bs-reset">
                                <div class="login-copyright text-right">
                                    <p>Copyright &copy; Keenthemes 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : LOGIN PAGE 5-1 -->
        <!--[if lt IE 9]>
<script src="assets/global/plugins/respond.min.js"></script>
<script src="assets/global/plugins/excanvas.min.js"></script> 
<script src="assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="assets/pages/scripts/login-5.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            $(document).ready(function()
            {
                $('#result').hide();
                $('#error').hide();
                $('#loading_ajax').hide();

                $(document)
                  .ajaxStart(function () {
                    $('#loading_ajax').show();
                    $('.user-login-5 .login-container>.login-content').css("margin-top", "20%");
                  })
                  .ajaxStop(function () {
                    $('#loading_ajax').hide();
                    $('.user-login-5 .login-container>.login-content').css("margin-top", "35%");
                  });

                $('#uploadFile').on('click', () => {
                    let originUrl = window.location.origin;

                    var data = new FormData();

                    $.each($('#musicfile')[0].files, function(i, file) {
                        data.append('file-'+i, file);
                    });

                    $.ajax({
                        url: originUrl + '/uploadfile',
                        data: data,
                        cache: false,
                        contentType: false,
                        processData: false,
                        method: 'POST',
                        success: function(data){
                            console.log(data);
                            if(data.success == true){
                                // alert(data.message);
                                $('#result span').text("This song's genres are: " + data.message);
                                $('#result').show();
                            }
                            else{
                                $('#error span').text("Error: " + data.message);
                                $('#error').show();
                            }
                        },
                        error: (a,b,c) => {

                    }
                    });
                })
            })
        </script>
    </body>

</html>